.user-form {
    display: flex;
    background: rgba(0, 0, 0, .1);
    flex-direction: column;
    border: 1px solid #000000;
    width: 25%;
    margin: 5px;
    padding: 5px
}

.form-element {
    display: flex;
    justify-content: space-between;
}

.user-select {
    width: 55%;
}

.error {
    color: red;
}
